# ngram_to_weka configuration file.
#
# The lines starting with '#' are comments.
#
# For each line, specify a model type, followed by a colon, followed
# by a comma-separated list of N values.
#
# For example, to run the "lower_chars" model with N=3, N=4, and N=5,
# add the following line:
#   lower_chars: 3, 4, 5
#
# Each line must define a model type and must have at least one N value.
# If this file is malformed, the ngram_to_weka.py script will fail.

lower_chars: 3, 4, 5
lower_words: 3
upper_chars: 3, 4, 5
upper_words: 3
